p
{
    padding: 0px 50px;
    font-size: 25pt;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    color:whitesmoke;
}

h2
{
    padding: 0px 10px;
    font-size: 30pt;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}

h1
{
    text-align: center;
    color: aliceblue;
}
body
{
    background-color: 282A3A;
}
 footer
 {
    background-color:darkred;
    width: 100%;
    height:50px;

 }

.menu
{
    background-color: darkred;
    text-align: center;
    padding: 0px 14px;
    width: 100%;
    float:right;
    height: 70px;
}

ul li{
    
    padding: 0px 8px;
    list-style: none;
    margin-right: 0px;
    margin-top: 10px;
    font-size: 16px;
    display: inline-table;
   
    
}

ul li a
{
    
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li :hover{
    color: #00aeef;
}

.container 
            {
            padding: 0px 5px;
            position: relative;
            width: 50%;
            margin-left: 13%;
            }

            .image 
            {
            display: block;
            height: 700px;
            width: 900px;
            }

            .overlay 
            {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 700px;
            width: 900px;
            opacity: 0;
            transition: .5s ease;
            background-color: #abdbe3;
            }

            .container:hover .overlay 
            {
            opacity: 2;
            }

            .text 
            {
            color: black;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
            }



.audio
{
    padding: 0 px 20px;
    text-align: left;
}


.fa-facebook
{
    color:greenyellow;
}

.fa-facebook:hover
{
    color:red;
}

.fa-instagram
{
    color:greenyellow;
}

.fa-instagram:hover
{
    color:red;
}

.fa-whatsapp
{
    color:greenyellow;
}

.fa-whatsapp:hover
{
    color:red;
}

.fa-envelope
{
    color:greenyellow;
}

.fa-envelope:hover
{
    color:red;
}


.icon
{
    text-align: center;
    padding: 0px 15px;
}

.images1
{
    float:right;
    padding: 20px;
    
}

.center
{
    text-align: center;
}

table,tr,td,th
{
    border: 2px line;
    padding: 5px;
    margin-top: 30px;
}

tr
{
    background-color:darkred;
    text-align: center;
}

tr:nth-child(even)
{
    background-color: white;
}

tr:hover
{
    background-color: aqua;
    color:black;
}


.table
{
    margin-left: 17%;
}

.vid
{
    text-align: center;
}
